html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FF6900;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url("img/home-page/home-page/suupa_bottle.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: static;
    text-align: center;
}

header img {
  width: 100%;
}

